label {
    display: block;
    margin-bottom: 5px;
}
#imagenMascotaPrev {
    max-width: 200px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
}
form{
    height: 72vh;
    background-color: #ccc;
}